html,body{margin:0px;padding:0px;}
#banner
{
	width:1000px;
	height:100px;
        margin-left: auto;
        margin-right: auto;
	margin:40px 80px;
	/* 文本水平对齐方式 */
	/*text-align:center;*/
	border:2px solid #bbb;
}
#picture
{
	width:500px;
	height:450px;
	margin:50px;
	float:left;
	border:2px solid #bbb;
}
#news
{
	width:445px;
	height:360px;
	margin:100px;
	float:left;
	border:2px solid #bbb;
}
#other
{
	clear:both;
	width:1200px;
	height:80px;
	margin:50px 50px 20px 50px;
	/* margin:0 auto; */
	border:2px solid #bbb;
}